.Login {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Login input[type='email'],
  .Login input[type='password'],
  .Login button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
  }
  
  .Login button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .Login a {
    color: #007bff;
    text-decoration: none;
    align-self: flex-end;
    margin-top: 5px;
  }
  